@font-face {
    font-family: 'Biotif';
    src: local('Biotif'), url('./assets/font/Biotif-Black.ttf') format('ttf'), url('./assets/font/Biotif-Bold.ttf') format('ttf')
    url('./assets/font/Biotif-Book.ttf') format('ttf'), url('./assets/font/Biotif-ExtraBold.ttf') format('ttf'),
    url('./assets/font/Biotif-Light.ttf') format('ttf'), url('./assets/font/Biotif-Medium.ttf') format('ttf');
}

body {
    margin: 0;
    font-family: 'Biotif';
}
